/Kubernetes/setup.md
/Kubernetes/config.md
ArgoCD/setup.md
Kubernetes/dashboard/setup.md
Kubernetes/http-ingress/config.md
MySQL/config.md
Kubernetes/MySQL/config.md
Kubernetes/MySQL/mysql.py
Kubernetes/MySQL/tester.py
Kubernetes/MySQL/__pycache__/mysql.cpython-310.pyc
Kubernetes/ELK/setup.md
Kubernetes/ECK/setup.md
Kubernetes/nfs-server/setup.md
Kubernetes/nfs-server/config.md
Kubernetes/monitoring/setup.md
Argo-Workflows/setup.md
kubeconfig.yaml
config
Kubernetes/service-accounts/config.md
Kubernetes/manifests/ECK/setup.md
Kubernetes/manifests/http-ingress/config.md
Kubernetes/manifests/monitoring/setup.md
Kubernetes/manifests/contour/setup.md
Kubernetes/manifests/dashboard/setup.md
.gitignore
Kubernetes/manifests/MySQL/tester.py
Kubernetes/manifests/MySQL/__pycache__/mysql.cpython-310.pyc
.gitignore
Kubernetes/manifests/nfs-server/config.md
Kubernetes/manifests/MySQL/config.md
Kubernetes/manifests/ingress-controller/contour/setup.md
Kubernetes/manifests/ingress-controller/http-ingress/config.md
Kubernetes/dns/config.md
Kubernetes/dns/setup.md
Kubernetes/dns/bind9/setup.md
Kubernetes/dns/bind9/named.conf
Kubernetes/dns/bind9/homelab-k8s.com.zone
